@{
    ViewData["Title"] = "پشتیبانی ";
}
<h1>@ViewData["Title"]</h1>

<p>برای پشتیبانی در ساعات اداری از شنبه تا پنجشنبه با شماره 09388213227 تماس حاصل بفرمایید یا در واتساپ به همین شماره پیام دهید</p>
